:root {
  color-scheme: light dark;
}

body {
  /* ! TEMPORAL */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  height: 110vh;
  width: 110vw;
  /* ! TEMPORAL */
}
